<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite"
       parallel="classes"
       thread-count="4">

    <listeners>
        <listener class-name="GUI.TestListener.Listener"/>
    </listeners>

    <test name="UI Tests">
        <classes>
            <class name="GUI.Runner.TesngRunner"/>
        </classes>
    </test>

</suite>
